<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubion</title>
    <!-- 
        태그를 기준으로 디자인 
        class를 기준으로 디자인 
        id를 기준으로 디자인
    -->
    <style>
        h1 {
            color : red;
        }
        .class1 {
            background-color: green;
        }
        .class2 {
            font-size: 20px;
        }
        #id1 {
            color : white;
            background-color: black;
        }
    </style>
</head>
<body>
    <!-- 글 제목 태그 -->
    <h1>index page</h1>
    <h1 class = 'class2'>test</h1>
    <!-- 하이퍼링크 -->
    <a href = '/second' id="id1">Second Page 로 이동</a>
    
    <a href="https://www.google.com" class="class1 class2">구글</a>
    <a href="https://www.naver.com" class="class1">네이버</a>
    <!-- 리스트 태그 -->
    <ul>
        <li>list1</li>
        <li>list2</li>
        <li>list3</li>
    </ul>
    <ol>
        <li>list1</li>
        <li>list2</li>
        <li>list3</li>
    </ol>
    <!-- 테이블 태그  -->
    <table border="1">
        <!-- 행 추가 -->
        <tr>
            <!-- 열 추가 -->
            <th>태그명</th>
            <th>설명</th>
        </tr>
        <tr>
            <td>table</td>
            <td>테이블 전체를 감싸는 태그</td>
        </tr>
        <tr>
            <td>tr</td>
            <td>테이블에 행을 추가하는 태그</td>
        </tr>
        <tr>
            <td>td</td>
            <td>테이블에 열을 추가하는 태그</td>
        </tr>
    </table>
    <!-- 글 문단 태그 -->
    <p>
        (파리=연합뉴스) 김영신 기자 = 우리나라 부산이 2030 세계박람회 유치에 실패했다.

        부산은 28일(현지시간) 오후 프랑스 파리에서 열린 국제박람회기구(BIE) 제173차 총회에서 진행된 개최지 선정 투표에서 29표를 획득, 119표를 쓸어담은 1위 사우디아라비아 리야드에 크게 뒤졌다.

        3위 이탈리아 로마는 17표를 얻었고 기권표는 없었다.
    </p>
    <p>
        개최지 선정 투표에서 참여국 중 3분의 2 이상표를 얻은 국가가 나오면 그대로 승리하고, 그렇지 않으면 결선 투표를 치른다.

        사우디는 투표 참여 165개국 중 3분의 2인 110표를 넘긴 119표를 얻어 결선 투표 없이 여유롭게 2030년 엑스포 개최지로 선정됐다.

        우리나라는 1차에서 사우디가 3분의 2 이상 표를 얻지 못하도록 저지하면서 이탈리아를 누른 뒤에 결선 투표에서 사우디에 역전하겠다는 전략을 세웠으나 무위로 돌아갔다.

        정부는 투표 직전까지 내비친 역전 기대감과는 달리 예상보다 훨씬 큰 표 차이로 패하자 안타까움과 아쉬움을 드러냈다.
    </p>

</body>
</html>