<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 
        info = [
            {
                'id' : xxxx, 
                'password' : xxxx, 
                'name' : xxxx, 
                'age' : xxxx, 
                'address' : xxxx
            }        
        ] 
        info[0]['name']
    -->
    <p> 로그인을 한 유저의 이름은 : {{info[0]['name']}} </p>
    <p> 나이 : {{info[0]['age']}}</p>
    <p> 주소 : {{info[0]['address']}}</p>
</body>
</html>